body {
	margin: 0; padding: 0;
}
section {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: #202060;
	color: #F0F000;
	margin: 0; padding: 10px;
	font-size: 300%;
	font-family: Liberation Sans;
}

.current {
	display: block;
}

.black {
	background-color: black;
}

h1 {
	text-align: center;
}
