/*
This uses a number of Chromeisms, including calc(100% - 20px) which is a
magic number as well. This is because a width of 100% is the entire screen,
but we want to have 10px of padding on the sections in all cases. So "full
screen" now has to become "full screen minus the padding". If the padding is
ever changed, update all those calculations.
Indent and outdent managed by two styles for verses
*/
body {
	margin: 0; padding: 0;
	background-color: black;
}
section {
	position: fixed;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	display: none;
	background-color: #101040;
	color: #F0F0C0;
	margin: 0;
	padding: 20px;
	font-size: 250%;
	font-family: "Liberation Sans", sans;
	font-weight: bold;
	line-height: 125%;
	white-space: pre-line;
	
}

 
.current {
	display: block;
}

.black {
	background-color: black;
}

.refrain {
	font-style: italic;
}

.bgimg {
	background-size: cover;
	background-position: bottom;
	color: white;
}

footer {
	position: absolute;
	bottom: 5%;
	width: 100%;
	text-align: center;
}

/* Requires some JS magic, see slides.html */
.showcase {
	background-color: black;
	padding: 10px;
}
.showcase div {
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}

h1,h2,h3 {
	text-align: center;
	margin: 0; padding: 0;
	line-height: 10%;
}

/* Used for copyright notices */
cite {
	font-size: 40%;
	position: fixed;
	right: 1em;
	bottom: 1em;
}

/* Scripture references... they're the address of the passage, right? :) */
address {
	font-style: normal;
	font-size: 200%;
	position: absolute;
	top: 50%;
	width: calc(100% - 20px);
	margin: -1.4em 0 0 0;
	text-align: center;
	line-height: 150%;
}

.flow {
	float: left;
}
